{%extends 'posts/base2.html'%}
{% load bootstrap3 %}
{% block content %}

{{block.super}}
   

<div class="container">

   <div class="row">
    <div class="col-md-4">
    {% for business in business %}

       
           
            {{business.bn_user}}
               

               
              
                   <h5>{{business.bn_name }} </h5>
                  <p> {{business.bn_email}}</p>
                
                <p>{{business.bn_community}}</p>
                   
                  
               </div>
           </div>
              {% empty %}
       
       
   </div>
   {% endfor %}


  
</div>


{% endblock %}
