{%extends 'posts/base2.html'%}
{% load bootstrap3 %}
{% block content %}

{{block.super}}

<div class="row">
   
</div>
<div class="container">

   <div class="row">
       
    {% for business in business %}

       <div class="col-md-6">
           <div class="card mb-2">
               
               

               
               <div class="card-body">
                   <h5 class="card-title">{{business.bn_name }} </h5>
                   {{business.bn_email}}
                {{business.bn_user}}
                {{business.bn_community}}
                   
                   <h2 class="text-center"> </h2>
               </div>
           </div>
       </div>
       {% empty %}
       
       
   </div>
   {% endfor %}


  
</div>


{% endblock %}
