{% extends 'base.html' %}
{% block content %}
{{ block.super }}

<div class="row">
   
</div>
<div class="container">

   <div class="row">
       {% for community in communities %}


       <div class="col-md-4">
           <div class="card mb-2">
               <!-- {% if business_item.business_image %}
               <img class="card-img-top" src="{{community.location}}"
                   height="auto" width="200px !important">

               {% endif %} -->
               <div class="card-body">
                   <h5 class="card-title">CREATED BY:{{community.created_by }} </h5>
                   <p class="card-text"><h4>{{ community.location }}</h4></p>
                   
                   <h2 class="text-center"> </h2>
               </div>
           </div>
       </div>


       {% empty %}
   </div>
   {% endfor %}
</div>

{% endblock %}