{%extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}
{% load staticfiles %}
{{block.super}}

<div class="row">
   
</div>
<div class="container">

   <div class="row">
       
    {% for post in posts %}

       <div class="col-md-6">
           <div class="card mb-2">
               
               <img class="card-img-top" src="{{post.img.url}}"
                   height="400px" width="550px !important">

               
               <div class="card-body">
                   <h5 class="card-title">{{post.text }} </h5>
                   
                
                   
                   <h2 class="text-center"> </h2>
               </div>
           </div>
       </div>


       {% empty %}
   </div>
   {% endfor %}
</div>


{% endblock %}